.formContainer {
  flex-direction: column;
  width: 430px;
  border-radius: 10px;
}

.inputText {
  border: 2px solid var(--bg-4);
  border-radius: 100px;
  width: 330px;
  height: 50px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--Primary-Text-purple-dark);
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--Primary-Text-purple-dark);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--Primary-Text-purple-dark);
}

.inputContainer {
  flex-direction: column;
  row-gap: 20px;
  margin-top: 45px;
}

.nxtBtnContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nxtBtn {
  width: 187px;
  height: 50px;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  border: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
