:root {
  --Primary-Text-purple-dark: #240d57;
  --Primary-Text-purple-light: #501fc1;
  --Primary-Envited-purple: #8456ec;
  --Primary-Envited-pink: #e87bf8;

  --Secondary-purple-1: #ccb6ff;
  --Secondary-purple-2: #ede5ff;
  --Secondary-purple-3: #f6f2ff;

  --bg-1: #4f4f4f;
  --bg-2: #828282;
  --bg-3: #bdbdbd;
  --bg-4: #e0e0e0;
  --bg-5: #f2f2f2;
  --bg-6: #bdbdbd;
}

* {
  box-sizing: border-box;
}

.element-centre {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
