.landingPageContainer,
.heading {
  flex-direction: column;
}

.heading {
  padding: 0px;
  gap: 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--Primary-Text-purple-dark);
}

.snapchat {
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tagline {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #4f4f4f;
  margin-top: 16px;
}

.landingImg {
  margin-top: 36px;
}

.landingImg img {
  width: 165.63px;
  height: 292px;
  left: calc(50% - 165.63px / 2 + 0.32px);
  top: 290px;
  filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
  border-radius: 13.2326px;
}

.eventBtn {
  width: 187px;
  height: 50px;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  border: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media only screen and (min-width: 700px) {
  .landingImg {
    position: absolute;
    left: calc(50% - 311px / 2 + 0.5px);
    top: 379px;
  }

  .landingImg img {
    width: 311px;
    height: 548.27px;
    filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
    border-radius: 24.8462px;
  }

  .heading {
    position: absolute;
    top: 60px;
    left: 194.04px;
    width: 573.91px;
    height: 192px;
    text-align: center;
  }

  .tagline {
    position: absolute;
    top: 268px;
    left: 219.5px;
    width: 521px;
    height: 56px;
    text-align: center;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .eventBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: absolute;
    width: 320px;
    height: 55px;
    left: 320px;
    top: 980px;
  }
}

@media only screen and (min-width: 1000px) {
  .landingPageContainer {
    flex-direction: row;
  }

  .landingImg {
    position: absolute;
    left: calc(50% - 440px / 2 - 366px);
    top: 100px;
  }

  .landingImg img {
    width: 440px;
    height: 775.69px;
    filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
    border-radius: 35.1522px;
  }

  .heading {
    position: absolute;
    top: 306px;
    left: 778px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: right;
    color: var(--Primary-Text-purple-dark);
  }

  .tagline {
    position: absolute;
    top: 514px;
    left: 831px;
    width: 521px;
    height: 56px;

    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: right;

    color: #4f4f4f;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .eventBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: absolute;
    width: 320px;
    height: 55px;
    left: 1032px;
    top: 622px;
  }
}
